* {
  margin : 0;
  padding : 0;
  box-sizing : border-box;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Inter;
  flex-direction: column;
  position: relative;
}
h1 {
  font-size: 4rem;
  color: #333;
  text-transform: uppercase;
}
.copyright {
  position: absolute;
  bottom: 20px;
  font-size: 0.8rem;
  color: #666;
}
@media screen and (max-width: 768px) {
  body {
    padding: 20px;
  }
  h1 {
    font-size: 2rem;
  }   
  h2 {
    font-size: 1rem;
  }
}